/* 字体定义 */

/* 手写体字体定义 */
@font-face {
  font-family: 'Ma Shan Zheng';
  src: url('https://cdn.jsdelivr.net.cn/gh/TomHuangCN/TomHuangCN.github.io@gh-pages/assets/fonts/MaShanZheng-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Xiaolai';
  src: url('https://cdn.jsdelivr.net.cn/gh/TomHuangCN/TomHuangCN.github.io@gh-pages/assets/fonts/Xiaolai-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VonwaonBitmap-12px';
  src: url('https://cdn.jsdelivr.net.cn/gh/TomHuangCN/TomHuangCN.github.io@gh-pages/assets/fonts/VonwaonBitmap-12px.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '千图小兔体';
  src: url('https://cdn.jsdelivr.net.cn/gh/TomHuangCN/TomHuangCN.github.io@gh-pages/assets/fonts/千图小兔体.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}